## Ignore Gogland IDE project settings
.idea/

## Ignore VSCode project settings
.vscode/

## Ignore Binaries, logs...
bin/*
log/*
pkg/*
cfg/*

## Ignore decoded client data
enc/
server8files/
docs

## Ignore macOS FS files
.DS_Store
